@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Andrew Cromwell</h3>

<address>
    2718 Seely Ave. SE<br />
    Cedar Rapids, IA 52403<br />
    <abbr title="Phone">P:</abbr>
    (208) 244-2101
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andrew.b.cromwell@gmail.com">andrew.b.cromwell@gmail.com</a><br />
</address>