@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Circus Days</h1>
    <p class="lead">This is the home page for Circus Days. Anybody can view the list of venues our circus has visited or is planing to visit,
    but in order to add information you need to be loged in with the appropriate role.</p>
</div>

